:root {
    --cor:#ffeab0;
    --cor-cb: #857c5a;
    --fundo-menu: ;
}

body {
    background-color: var(--cor);
}

.cabecalho {
  background-color: var(--cor-cb)

}

.cabecalho-titulo {
   font-size: 36px;
   font-weight: 700;
   padding: 12px;
   text-align: center;
}

.cabecalho-menu {
   background-color: var(--fundo-menu);
}

.cabecalho-menu-item {
   display: block;
   padding: 10px;
   font-size: 20px;
   text-decoration: none;
   color: black;
   text-align: center;
   border-top: 1px solid;
}